<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>提交作业</title>
    <link rel="stylesheet" href="../static/layui/css/layui2.css" th:href="@{/layui/css/layui2.css}">
    <script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>

    <script src="../static/jq/jquery-1.12.4.min.js" th:src="@{/jq/jquery-1.12.4.min.js}"></script>
    <script src="../static/js/referHomework.js" th:src="@{/js/referHomework.js}"></script>
    <link rel="stylesheet" href="../static/css/referHomework.css" th:href="@{/css/referHomework.css}">
</head>
<body th:each="stuIn:${session.stucourseIfo}">
<!--nav-->
    <div class="nav-div" >
        <!--    log图标-->
        <a href="/student" style="border: none">
            <div class="courseTitle-div">
<!--                返回img-->
                <img style="width: 20px;height: 18px" src="../static/images/student/fanhui.png" th:src="@{/images/student/fanhui.png}" />

                    <span class="courseTitle-span" th:text="${stuIn.getCourseName()}"></span>


            </div>

        </a>
        <ul class="layui-nav nav" >
            <!--        提交作业-->
            <li class="layui-nav-item layui-this" >
                <a href="" STYLE="color: #3B3D45;font-size: 16px;margin-top: -5px;">提交作业</a>
            </li>
            <!--        作业讨论-->
            <li class="layui-nav-item ">
                <a href="" STYLE="color: #5F6368;margin-top: -5px;font-size: 16px;">作业讨论</a>
            </li>

            <!--        工具-->
            <li class="layui-nav-item " style="position: absolute;right: 130px;top: 8px">
                <div style="height: 60px;width: 120px;position: relative;">
                    <a href="" STYLE="color: #5F6368;margin-top: -13px;font-size: 16px;margin-left: 25px">工具</a>
                    <img style="width: 27px;height: 27px;position:absolute;top: 15px;left: 15px" src="../static/images/student/tool_icon.png" th:src="@{/images/student/tool_icon.png}"/>
                </div>
                <dl class="layui-nav-child" style="margin-top: -15px">
                    <dd><a href="javascript:;"><SPAN style="margin-left: 10px">论文查重</SPAN>
                        <img style="width: 27px;height: 27px;position:absolute;left: 5px;top: 5px" src="../static/images/student/paperrepeaticon.png" th:src="@{/images/student/paperrepeaticon.png}"/>
                    </a>
                    </dd>
                    <dd><a href="javascript:;"><SPAN style="margin-left: 10px">学术查证</SPAN>
                        <img style="width: 27px;height: 27px;position:absolute;left: 5px;top: 5px" src="../static/images/student/sjczicon.png" th:src="@{/images/student/sjczicon.png}"/>
                    </a>
                    </dd>
                </dl>
            </li>
            <!--铃铛图标-->
            <li class="layui-nav-item " style="position: absolute;right: 95px;top: 0px">
                <a href="" STYLE="color: #5F6368;margin-top: -5px;font-size: 16px;">
                    <img class="layui-nav-img" style="margin-top: -10px;" src="../static/images/student/lingd.png" th:src="@{/images/student/lingd.png}">
                </a>
            </li>

            <!--最后用户图标-->
            <li class="layui-nav-item " style="position: absolute;right: 45px;top: 8px">
                <a href="" STYLE="margin-top: -13px;">
                    <img class="layui-nav-img" style="margin-top: -10px;" src="//t.cn/RCzsdCq">
                </a>
                <dl class="layui-nav-child" style="margin-top: -15px;margin-left: -35px">
                    <dd><a href="javascript:;"><SPAN style="margin-left: 18px">开通VIP</SPAN>
                        <img style="width: 20px;height: 20px;position:absolute;left: 5px;top: 8px" src="../static/images/student/vip.png" th:src="@{/images/student/vip.png}"/>
                    </a>
                    </dd>
                    <dd><a href="javascript:;"><SPAN style="margin-left: 18px">机构账号绑定</SPAN>
                        <img style="width: 20px;height: 20px;position:absolute;left: 5px;top: 8px" src="../static/images/student/mechanismYes.png" th:src="@{/images/student/mechanismYes.png}"/>
                    </a>
                    </dd>
                    <dd><a href="javascript:;"><SPAN style="margin-left: 18px">个人设置</SPAN>
                        <img style="width: 20px;height: 20px;position:absolute;left: 5px;top: 8px" src="../static/images/student/settings.png" th:src="@{/images/student/settings.png}"/>
                    </a>
                    </dd>
                    <dd><a href="/login"><SPAN style="margin-left: 18px">退出账户</SPAN>
                        <img style="width: 20px;height: 20px;position:absolute;left: 5px;top: 8px" src="../static/images/student/exit.png" th:src="@{/images/student/exit.png}"/>
                    </a>
                    </dd>
                </dl>
            </li>


        </ul>
    </div>


    <div class="center-div">
        <!--第二层空白div-->
        <div class="empty-div">
        </div>

        <!--homework介绍-->
        <div class="homeWorkTro-div">
            <p class="homeWork-title" th:text="${stuIn.getHomeworkName()}"> </p>
            <p class="homeWork" th:text="${stuIn.getHomeworkIntroduction()}"></p>
            <p class="some-p">
            <span style="font-size: 12px;background-color: #f1f3f4;color: #5f6368;border-radius: 2px;padding: 0 5px">
                截至日期：
                <span class="deadline" th:text="${stuIn.getDeadline()}"></span>
                <span>23:59</span>
            </span>
                <span style="font-size: 12px;background-color: #f1f3f4;color: #5f6368;border-radius: 2px;padding: 0 5px;margin-left: 8px">
                个人作业
            </span>
                <span style="font-size: 12px;background-color: #f1f3f4;color: #5f6368;border-radius: 2px;padding: 0 5px;margin-left: 8px">
                需要查重
            </span>
                <span style="font-size: 14px;color: #5f6368;border-radius: 2px;padding: 0 5px;margin-left: 8px;float: right;">
                <img style="width: 14px;" src="../static/images/student/caidan.png" th:src="@{/images/student/caidan.png}">
                查看谁交了
            </span>
            </p>
            <br/><br/>
            <form action="/uploadHomework" enctype="multipart/form-data" method="post">

                <input name="studentId" id="studentId" th:value="${session.users.getUserId()}" type="hidden">
                <input name="homeworkId" id="homeworkId" th:each="stuI:${session.stucourseIfo}" th:value="${stuI.getHomeworkId()}" type="hidden">
                <input name="submitDate" id="submitDate" type="hidden">


                <p>
                    <button  class="refer-btn" type="submit"  >提交</button>
                    <span th:if="${session.seeH.size()} ne '0'">
                        <span class="weiwanc" style="float: right">完成</span>
                    </span>
                    <span th:unless="${session.seeH.size()} ne '0'">
                        <span class="weiwanc" style="float: right">未完成</span>
                    </span>

                </p>
                <div style="width: 1224px;margin-top:20px;border: 1px solid #E2E6ED;background: #FFF;border-radius: 8px;">
                    <div style="width: 1222px">

                        <div  style="width: 334px;height: 84px;border: 1px solid gray;margin: 20px 0 24px 24px;" th:if="${session.seeH.size()} ne '0'">
                            <input name="path"  readonly  style="width: 334px;height: 30px;border: none;font-size: 15px" th:each="seeH:${session.seeH}" th:value="${seeH.getPath()}"/>
                            <span class="delete-btn">修改</span>
                        </div>
                        <div id="filename-div" style="width: 334px;height: 84px;border: 1px solid gray;margin: 20px 0 24px 24px;display: none">
                            <input name="path" id="filename" readonly  style="width: 334px;height: 30px;border: none;font-size: 15px"/>
                            <span class="delete-btn">删除</span>
                        </div>

<!--                        打开选择文件-->
                        <input type="file" id="fileupload" name="file" style="display: none" onchange="$('input[name=\'path\']').val(this.files[0].name);$('#filename-div').css('display','block');">

                        <div style="width: 334px;height: 84px;border: 2px dashed #CCC;margin: 20px 0 24px 24px;">
                            <p style="margin-top: 20px;margin-left: 20px" onclick="$('input[name=\'file\']').click();">
                                <img style="width: 36px;height: 36px;" src="..static/images/student/add.png" th:src="@{/images/student/add.png}"/>
                                <span style="width: 100%; height: 100%;display: block;cursor: pointer;background: rgb(255, 255, 255);margin-top: -40px;margin-left: 45px">添加作业文件</span>
                                <span style="color: #999;font-size: 12px;display: block;line-height: 12px;margin-left: 40px;margin-top: 10px">支持各类文档、图片、代码、压缩包格式</span>
                            </p>
                        </div>
                    </div>
                    <div class="dfoot-div">
                        <p>
                            <span class="dfoot-div-pw">作业留言：</span>
                            <input name="message" class="dfoot-div-sp" style="background: none;border:none;margin-top: 8px;" placeholder="点击添加留言（仅老师可看）...">
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>

<script >

</script>

</body>
</html>